

/*****************************************************/

body{
direction: ltr;
background-color: #F6F6F6;
font-family: 'El Messiri', sans-serif;
text-align: left;

}
img{
    width:100%;
}
.navbar{
    z-index: 10;
}
.navbar ul{
    justify-content: center;
}
.navBtn{
display: none;

}
.close i{
    font-size: 23px;
    position: absolute;
    right: 5%;
    top: 3%;
color:#B3B9BE;
}

.scrollNav{
    top:0 !important;
    z-index: 999999;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 6px 3px;
    animation-duration: 1s;
    background: rgb(255, 255, 255) !important;
    position: fixed;
    animation :sticky;
}

.navbar .close{
    display:none;
}
.headerNav{
    background-color: white;
    width:100%;
padding:20px;
z-index:100;
    height: 54px;
    box-sizing: border-box;
}

.logo{
    width:125px;
}
.mobilelogo{
    
    display: none;
    width:125px;
    height:28px;
}
.mobileLogoItem{
    background-color: #F6F6F6;
}
.nav-link{
    font-size:14px;
    color:#55616A;
    position: relative;
}
.nav-link.activeLink,.languge .activeLink{
    font-weight: 600;
    color:#55616A;

}

.nav-link.activeLink:before {
	width:80%;
}

.nav-link:before {
	transition:width 1s;
    content: "";
    position: absolute;
    left:8%;
    bottom: -10px;
    height: 1px;
    border-bottom: 3px solid #52D54E;
    text-align: center
}

.nav-link:hover::before{
    width  :80%; 
}
.nav-link:hover{
    color:#55616A;
}
.languge a{
    font-size:14px;
    color:#B3B9BE;
    padding-right:30px;
    
}

.languge a:hover,.SocialIcons a:hover{
    text-decoration: none;
	color:#52D54E;
}
.mobilelanguge,.mobileSocialIcons{
    display: none;
}

.SocialIcons a{
    font-size: 14px;
    color:#B3B9BE;
    padding-right:50px;
}
.heroSection{
    width: 100%;
    height:430px;
    background-size:cover;
	overflow:hidden;
color:white;
background-position: center; 
text-align: center;
vertical-align: middle;
z-index: 0;
position: relative;
}
.overlay{
width:100%;
height:100%;
background-color:rgba(0,0,0,.6);
position:absolute;
z-index:3;
}
hr{
    display: none;
    position: absolute;
    width:85%;
    border:2px solid #D9D9D9;
    right:15px;
}
.heroSection video{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%; 
    display: flex;  
    justify-content: center; 
    align-items: center;
}
.heroSection h1{
    color:white;
    font-weight: 600;
    font-size: 30px;
    margin-bottom:85px;
}
.heroCont{
    width:440px;
    margin: 0 auto;
    vertical-align: middle;
    position: absolute;
    z-index: 11;
    top: 35%;
    left: 32%;
}
.sideMenu{
    background-color: #F6F6F6;
position: fixed;
width:70px;
list-style-type: none;
padding-top:12%;
z-index: 50;
height: 100vh;
top:53px;

}
.nationalBar{
    display: none;
}
.sideImg{
    width:25px;
    margin: 0 auto

	}
	
	.sideItem.active{
		display: block;
    border-right: 3px solid #52D54E;
	}
.sideItem span{
font-size: 12px;
font-weight: 400;
margin-top: 15px;
color:#55616A;
}
.sideItem:hover{
text-decoration: none;
}
.sideMenu li{
    list-style-type: none;
    padding-bottom: 50px;
}
.sideMenu ul{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.sideVideo{
    background-color: white;
    width:735px;
        height: 100vh;
    overflow: scroll;
	left:-1000px;
    padding:50px 67px;
    position: fixed;
z-index: 5;
box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 6px 3px;

 

}

::-webkit-scrollbar-thumb {
    background-color: #e32669;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #eee;
} 
.videoCont{
    width:602px;
    height: 300px;
    border-radius: 5px;
}
.videoCont iframe{
    width:100%;
    height: 100%;
}
.nationalDesc{
    margin-top:50px;
    text-align: left;
}
.nationalDesc h4{
    font-size: 30px;
    color:#55616A;
    font-weight: 600;
}

.nationalDesc p{
    font-size:16px;
    margin-top:20px;
    margin-bottom: 30px;
}
.nationalDesc h6{
    font-size:18px;
    font-weight: 500;
}
.nationalDesc h6 a{
    color:#52D54E;
    text-decoration: underline;

}
.paddingSection{
    padding-top:50px;
    padding-left:130px;
}
.sectionTitle{
    font-size: 30px;
    font-weight: 600;
    display: block;
    background: #fff;
    width: fit-content;
    padding-right: 18px;
}
.projSection{
    background-color: white;
    color:#55616A;
    width:100%;
}
.projSection p,.flatSection p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 17px;
    
}
.projectadv{
    margin-top:60px;
}

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play{
	background:url('../img/arrow-left.png') no-repeat !important;
}

.fotorama__arr--prev{
    transform: rotate(180deg) !important;
}
.fotorama__active .fotorama__dot{
    background-color:#303233;
    border:0;
}
.advIcon{
    width:30px;
    height:35px;
    display: inline-block;
}
.advDesc{
    color:#55616A;
    font-size:18px;
    font-weight: 500;
    display: inline-block;
    margin-left:12px;
    max-width: 255px;

}
.flatSection{
    background-color: white;
    color:#55616A;
    width:100%;
    height: auto;
}
.greenDiv{
    width:250px;
    height:40px;
    background-color: #52D54E;
    color:white;
padding:10px;
border-radius: 5px;
margin-bottom:20px;
}
.greendiv span{
    font-size:14px;
    font-weight: 500;
}
.faciltiisSection,.flatSpaceSection{
    color:#55616A;
    padding-top:75px;

}
.spaceBox{
    width:95px;
    height: 40px;
    border:1px solid #D9D9D9;
    line-height: 40px;
    text-align: center;
    margin-right:10px;
    display: inline-block;
    margin-top: 15px
}
.flatSpaceSection{
    border-bottom:2px solid #F6F6F6;
    width:100%;
    height:auto;
}
.flatSpaceSection .sectionTitle{
    margin-bottom: 35px;
}
.spaceBox a span{
    font-size: 16px;
    font-weight: 400;

    color:#55616A;

}
.spaceBox a{
    text-decoration: none;
}
.spaceBox.active{
background-color:#52D54E;

}
.spaceBox.active span{
    color:white;
}
.flatImg{
    width:100%;
    margin-top:30px;
}
.showImage{
    display:none;
    font-size:14px;
    color:#55616A;
    text-align: center;
    margin-top: 7px;
}
.salaryimg{
    width:100%;
    position: relative;
    margin-top:65px;
    margin-bottom: 75px;
}


.salaryBox {
    top: 8%;
    left: 7%;
    border-radius: 5px;
    width:171px;
    height:88px;
    background-color: #E32669;
    color:white;
    position: absolute;
    text-align:center;
    vertical-align: middle;
    padding-top:5px;
}
.fotorama__nav__frame--thumb{
width:100px !important;
height:60px;
}
.fotorama__nav__frame{
padding:9px !important;}
.fotorama__thumb-border{
display:none !important;}
.fotorama__loaded--img img{
	left:0 !important;
}
.fotorama__thumb{
	border-radius:5px;}
.salaryBox span{
    font-size:16px;
    font-weight: 500;
}


.OurProjects{
    color:#55616A;
    padding-bottom:70px;
    border-bottom:2px solid #F6F6F6;
    width:100%;
    height: auto;

}
.OurProjects .projSpan{
    font-size: 16px;
    font-weight: 400;
}
.sliderSec{
    margin-top:30px;
    font-size:16px;
font-weight: 400;
    
}
.sliderDesc span{
    display:block;
    margin-top:10px;
}
.sliderDesc p{
    margin-top:15px;

}
.moreLink a{
    text-decoration: underline;
    color:#52D54E;
}
.ourServices{
    color:#55616A;
    padding-bottom:70px;
    width:100%;
    height: auto;
}
.serviceIcon{
    width:60px;
height: 60px;
margin: 0 auto;}
.servCont{margin-top:50px}
.serviceItem{
    text-align: center;
}
.serviceItem span{
    margin-top:20px;
    text-align: center;
} 
.footer{
    background-color: #55616A;
    color:white;
    font-size:16px;
    width:100%;
    height: auto;
    padding-bottom:60px;
}
.footerLogo{
    margin:auto;
    height:78px;
    width:170px;
    margin-bottom:35px;
}
.copyright{
    font-size:14px;
    color:#B3B9BE;
    font-weight: 400;
  }
.footer span{
display:block
}

.form-group{
	position:relative;
}
.form-group input{
	padding-left:20px;
}
.form-group input.error{
	border-color: red;
    margin-left: 32px;
    width: 239px;
}
.form-group label.error{

position: absolute;
    width: 139px;
    color: red;
    top: 8px;
    font-size: 12px;
    right: -140px;
}
.contactus{
    width:100%;
    background-color: #52D54E;
    height: 60px;
    color:white;
    text-align: center;
    line-height: 60px;
    display: none;
    position: fixed;
    bottom:0;
    right:0;
    z-index:999;
}
.contactform.mobileContact{
display: none;
}

.contactForm{
    width:310px;
    height:400px;
    padding:30px 25px;
    background-color: #F6F6F6;
    border:1px solid #D9D9D9;
    position: absolute;
    z-index: 2;
    right:135px;
    top:520px;
}

.scrollForm{
    top:80px;
	position: fixed;
}


.contactLogo{
    width:39px;
    height:37px;
    margin:0 auto;
    margin-bottom: 10px;
}
.contactForm span{
    font-size: 14px;
    color:#55616A;
    display: block;
    margin-bottom: 5px;
}
.contactNow{
    color:#E32669 !important;
    font-size: 16px !important;
}
.contactForm form{
    margin-top:20px;
}
.formControl{
    width:250px;
    height: 40px;
border-radius: 5px;
border:0;
    border:1px solid #D9D9D9;
    margin-bottom: 10px;
}
.formControl::placeholder{
    padding:15px;
    font-size:14px;
    color:#B3B9BE;
}
.sendbtn{
    border:0;
    background-color:#52D54E;
    color:white !important;;
    width:150px;
    height: 40px;
    border-radius: 5px;
    line-height: 30px;
    font-size:14px;

}
#showVideo{
    color:white !important;
    font-size:14px;
    font-weight: 500;
}
.showVideoText{
    margin-top:85px;
}
.sendbtn:hover{
    background-color: #3FA53C;
}
.Bigoverlay{
    width:100%;
    height:100%;
    position: fixed;
    z-index: 5;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.5);
    display: none;
}

.footer.mobileFooter{
    display:none;
}
.footer{
    display:block;
}
@media (min-width: 320px) and (max-width: 767px){
 
    .nav-item:last-child{
        border-bottom: 0;
    }
.sideMenu{display:none;}
.heroSection{
    height:375px;
}
.videoCont{
width:100%;
	
}

.nationalDesc{
	padding-left:25px
}
.videoCont iframe{
	width:100%;
}

.sideVideo{
	padding:0;
}


.nav{
    display: block;
    width:270px;
    position: absolute;
    right:0;
    top:0;
    background: white;
    padding:0;
    z-index:444;
}
ul.nav{
    overflow: scroll;
    height: 95vh;
width:100%;
}
.contactForm{
    display: none;
}

.navbar .close{
    display: block
}
.paddingSection{
    padding-left: 5px;
}
.heroCont h1{
    font-size:22px;
}
.collapse.navbar-collapse{

    text-align: left;
}
.nav-link.activeLink:before{
    display: none;
}
.nav-link:hover:before{
    display: none;
}
.nav-item{
    font-size:16px;
    padding-bottom:30px;
    border-bottom:1px solid #D9D9D9;
    padding-left:30px;
}

.mobilelogo{
    display: block;
    padding-top:16px;
}
.navBtn{
    display:block;
    float:right;
    position: absolute;
    right:20px;
}
.logo{
    float:left;
    width:128px;
    height: 40px;
}
.languge,.SocialIcons{
    display: none;
}
.mobilelanguge,.mobileSocialIcons{
    display: block;
}
.mobilelanguge{
    margin-top:11px;
}
.mobileSocialIcons{
    padding-top:30px;
    margin-bottom:77px;
    text-align: center;
    margin:0;
}
.mobileSocialIcons span{
    font-size: 14px;
    display: block;
    margin-bottom:25px;

}
.mobilelanguge a{
    font-size:16px;
    padding:10px 32px;
    padding-bottom:33px;
    width:50%;

}
.ararbic{
    border-right:1px solid #D9D9D9;
}
.navbar {
    height:60px;
    z-index:9999999;
}
.heroCont{
    top:30%;
    max-width: 227px;
    left:20%
}
.sectionTitle{
font-size: 22px;
text-align:left;
}
hr{
    display: block;
}
.faciltiisSection hr{
    width:185px;
}
.flatSpaceSection hr{
    width:247px;
}
.footer .float-right,.footer .float-left{
    float: none !important;
}
.footer{
    text-align: center;
    padding-bottom:35px;
}
.contactus{
    display: block;
}
.contactLink{
    font-size:16px;
    font-weight: 500;
    color: white;
}
.contactLink a{
    color:white;
}
.contactLink a:hover{
text-decoration: none;}
.mobileContact{
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    padding:20% 10%;
    background-color: #F6F6F6;
    border:1px solid #D9D9D9;
    z-index: 9999999;
    display:none;
    
    }
    .mobileContact form{
        margin-top:0
    }
.nationalBar{
position:fixed;
    display:block;
    width:100%;
    height: 40px;
    background-color: #F6F6F6;
    justify-content: center;
    border:1px solid #D9D9D9;
    padding:4px 0;
    z-index: 2;
    margin-top: 5px;
}
.nationalBar ul li{
    text-align: center;
    display: inline-block;
    padding: 3px 0px;
    border-right: 1px solid #D9D9D9;
    width: 33.33%;
    float: left;
}
.nationalBar .sideImg{
    display: inline-block;
    margin-right:8px;
}
.nationalBar ul{
    padding:0;
    margin:0;
}
.nationalBar ul li:last-child{
    border:0;
}
.sideItem span{
    font-size: 12px;
}
.sideImg{
    width:24px;
    height: 20px;
}
.sideVideo{
    width:100%;
    top:-1000px;
    left:0;
	    height: 450px;
}
.sideVideo video{
    width:80%;
}
.heroSection video{
	width:auto;
	height:100%;
}
.footerLogo{
    margin:auto;
    height:36px;
    width:79px;
    margin-bottom:35px;
}
.footer.mobileFooter{
    display:block;
padding-bottom:100px;
}
.fotorama__dot{
    width:10px !important;
    height:10px !important;
    background-color:#D9D9D9;
}
.mainSlider.owl-carousel{
    display:block;
}
.mainSlider .owl-dots{
    text-align: center;
margin-top:10px;
}
.mainSlider .owl-carousel .owl-dot{
    width:10px;
    height:10px;
background-color:#D9D9D9;
border-radius: 50%;
display: inline-block;
margin:10px;

}
.mainSlider .owl-dot.active{
    background-color: #303233;
}
.showImage{
    display:block;
}
.greenDiv{
    margin:0 auto;
    margin-bottom:20px;
}
.footer.mobileFooter{
    display:block;
}
.footer{
    display:none;
}
.mobileFooter .copyright{
    margin-top:60px;
}
.salaryBox span{
    
}
.fotorama{
    display: none;
}
.mainSlider.owl-carousel{
    display:block;
}
.form-group label.error {
    top: 47px;
    left: 5px;
}
}
@media (min-width: 768px) and (max-width: 1024px){
    .nav{
        display: block;
        width:270px;
        position: absolute;
        right:0;
        top:0;
        background: white;
        padding:0;
    }
    .nav-item{
        font-size:16px;
        padding-bottom:30px;
        border-bottom:1px solid #D9D9D9;
        padding-left:30px;
    }
    
    .mobilelogo{
        display: block;
        padding-top:16px;
    }
    .navBtn{
        display:block;
        float:right;
        position: absolute;
        right:20px;
    }
    .logo{
        float:left;
        width:128px;
        height: 40px;
    }
    .navbar {
        height:60px;
    }

    .form-group label.error{
            font-size: 12px;
            right: 0;
        }

        .form-group input.error
        {
            width: 200px;
        }
        .languge,.SocialIcons{
            display: none;
        }
        .mobilelanguge,.mobileSocialIcons{
            display: block;
        }
        .mobileSocialIcons{
            padding-top:30px;
            margin-bottom:77px;
            text-align: center;
        }
        .mobileSocialIcons span{
            font-size: 14px;
            display: block;
            margin-bottom:25px;
        }
        .mobilelanguge a{
            font-size:16px;
            padding:0 32px;
            padding-bottom:33px;
        }
        .ararbic{
            border-right:1px solid #D9D9D9;
        }
        .mobilelogo{
            display: block;
            padding-top:16px;
        }
        .contactus{
            display: block;
        }
        .contactLink{
            font-size:16px;
            font-weight: 500;
            color: white;
        }
        .contactLink a{
            color:white;
        }
        .contactLink a:hover{
        text-decoration: none;}
        .mobileContact{
            height: 495px;
            width: 377px;
            top: -500px;
            right: 17px;
                padding:10px 20px;
                background-color: #F6F6F6;
                border:1px solid #D9D9D9;
            }
            .mobileContact form{
                margin-top:0
            }
            .contactForm{
                display: none;
            }
            .mobileContact {
                height: 100vh;
                width: 402px;
                top: -500px;
                right: 110px;}
                .projSection{
                    justify-content: center;
                }
            
            
}
 
