@font-face{
        font-family: "29lt-bukra-bold";
        src: url("../Fonts/29lt-bukra-bold.ttf");
    
}
@font-face{
    font-family: "29lt-bukra-regular";
    src: url("../Fonts/29lt-bukra-regular.ttf");

}

/*****************************************************/

body{
direction: rtl;
font-family: "29lt-bukra-regular";
text-align: right;
position: relative;

}
.overlay{
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.4);
    position:absolute;
    z-index:3;
    display: none;
    }

img{
    width:100%;
}

.navbar{
    z-index: 10;
}
.navbar ul{
    justify-content: center;
}
.navBtn{
display: none;

}
.closeform i{
    font-size: 23px;
    position: absolute;
    left: 5%;
    top: 3%;
color:#B3B9BE;
}
.scrollNav{
    top:0 !important;
    z-index: 999999;
    animation-duration: 1s;
    background: rgb(255, 255, 255) !important;
    position: fixed;
    animation :sticky;
}
.headerNav{
    background-color: white;
    width:100%;
padding:20px;
    height: 54px;
    box-sizing: border-box;
}

.logo{
    width:90px;
    height:42px;
}
.mobilelogo{
    display: none;
    width:90px;
    height:50px;
}
.mobilelogo{
    display:none;
}

.nav-link{
    font-size:14px;
    color:#55616A;
    position: relative;
}
.nav-link.activeLink,.languge .activeLink{
    font-weight: 600;
    color:#55616A;

}

.nav-link.activeLink:before {
	width:80%;
}

.nav-link:before {
	transition:all .5s;
    content: "";
    position: absolute;
    right:8%;
    bottom: -10px;
    height: 1px;
    border-bottom: 3px solid #0072bb;
    text-align: center;
    width:0;

}

.nav-link:hover::before{
    width  :80%; 
}
.nav-link:hover{
    color:#55616A;
}
.languge a{
    font-size:14px;
    color:#B3B9BE;
    padding-left:30px;
    
}

.languge a:hover,.SocialIcons a:hover{
    text-decoration: none;
	color:#0072bb;
}
.mobilelanguge,.mobileSocialIcons{
    display: none;
}
.SocialIcons{
    margin-right:50px;
}
.SocialIcons a{
    font-size: 14px;
    color:#B3B9BE;
    padding-left:50px;
}
.heroSection{
    width: 100%;
    height:700px;
    background-size:cover;
	overflow:hidden;
color:white;
background-position: center; 
text-align: center;
vertical-align: middle;
z-index: 0;
position: relative;
}
.NationalSide{
    width:40%;
    height:100%;
    position: absolute;
    right:0;
    top:0;
    background-color: #292929;
    border-left:10px solid #0072bb;
    line-height: 50%;
    padding:50px 140px;

}
.NationalSide h6{
    font-size:30px;
    color:white;
    font-weight: 400;
    background-color: #0072bb;
}
.showVideoIcon i{
color:#6EA316;
padding:35px;
background-color: white;
border-radius: 50%;
font-size:28px;
transition-duration: .5s;

}
.showVideoIcon{
    position: absolute;
    right:49%;
bottom:50%;
z-index: 22;
}

.showVideoIcon:hover  i{
    background-color:#6EA316;
    color: white;
transform:rotate(360deg);
transition-duration: .5s;
}
.heroSection h1{
    color:white;
    font-weight: 600;
    font-size: 30px;
    margin-bottom:85px;
}


.lowSec{
    padding-top:30px;
}
.lowCont{
    width:100%;
    background-color: #FFE6E9;
    height:auto;
    padding:40px;
    transition-duration: .5s;
}
.lowTitle{
    display:none;
    font-size:24px;
    color:#662635;
    font-family: "29lt-bukra-regular";
}
.lowCont:hover{
    transition-duration: .5s;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 7px 3px;
}
.lowdesc{
    width:70%;
}
.lowdesc h4{
    color:black;
    font-size:24px;
    font-family: "29lt-bukra-bold";
    margin-bottom: 20px;
}
.lowdesc p{
font-size:14px;
}
.paddingSection{
    padding-top:100px;
}
.sectionTitle{
    font-size: 30px;
    font-weight: 600;
    display: block;
    padding-left: 18px;
    margin:auto;
    margin-bottom:20px;
    font-family: "29lt-bukra-bold";
}
.stepsSection{
    position: relative;
    padding:20px 10px 50px 10px;
}
.stepsSection.sectionTitle{
    margin: 0;
    margin-bottom:5px;
    font-weight: 24px;
    color:#666572;
}

.step{
    margin-top:100px;
    color:#666572;
    font-size:14px;
}
.step:first-child{
    margin-top:50px;
}
.stepImg{
    width:100px;
    height: 100px;
    margin-bottom: 25px;
    margin-right:50px;
}
.stepNumTitle{ 
    display: inline-block;
}
.stepTitle{
    display: inline-block;
    font-size:18px;
    font-family: "29lt-bukra-bold";
    margin-right:20px;

}
.step .stepNum{
    background-color:white;
    width:10%;
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 50%;
    border:1px solid #666572;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    position: relative;
    transition: all .3s;

}
.activestepNum{
    background-color:#0072bb !important;
    color:white;
    transition: all .3sec;
}
.stepDesc{
    width: 90%;
    margin-top:10px;
}
.step .stepNum::before{
    position: absolute;
    content: "";
    height:322px;
    color:#D8D8D8;
    border:1px dashed #D8D8D8;
    top: 100%;
    right: 50%;
}
.lastStepNum::before{
    display: none;
}

.MoveImg{
    position: absolute;
    width:40%;
    height:700px;
    left:20px;
    top:50px;
}
.secMoveImg{
    position: absolute;
    width:40%;
    height:700px;
    right:20px;
    top:50px;

}
.secSecStep{
    width:50%;
    float:left;
}
.nationatSteps{
    padding:50px 10px;
    background-color:#FAFAFA; 
    position: relative;
}

svg{
    width:100%;
}
.projSection{
    background-color: white;
    color:#55616A;
    width:100%;
}
.projSection p,.flatSection p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
    margin-top: 17px;
    
}

.OurProjects{
    color:#55616A;
    padding-bottom:80px;
    border-bottom:2px solid #F6F6F6;
    width:100%;
    height: auto;


}
.OurProjects .projSpan{
    font-size: 16px;
    font-weight: 400;
}
.projectBox{
    background-color:#FAFAFA;
}
.projectSlider{
    width:100%;
    height:70%;

}.projDesc{
    padding:25px;
    padding-top:0;
}
.projDesc  span{
    font-size:16px;
    display:block;
    margin-top:20px;
}
.sliderSec{
    margin-top:30px;
    font-size:16px;
font-weight: 400;
    
}
.projectSlider .owl-nav button{

    font-size: 28px !important;
    color: white !important;
    position: absolute !important;
    top: 45% !important;
}
.projectSlider .owl-nav button.owl-next{
left:10px;}
.owl-nav button.owl-prev{
    right:10px
    }
    .projectSlider .owl-dots,.hero-carusel .owl-dots,.stepsCarusel  .owl-dots {
        position: absolute !important;
        bottom: 25px !important;
        z-index: 222 !important;
        right:35%;
    }
    .stepsCarusel  .owl-dots{
        bottom: -25px !important;
        right:30%;
    }
    .projectSlider .owl-dot ,.hero-carusel .owl-dot,.stepsCarusel  .owl-dot{
   
        background-color: white !important;
        width: 10px !important ;
        height: 10px !important;
        border-radius: 50%;
        margin:10px !important;
        border:2px solid white !important;
    }
    .stepsCarusel  .owl-dot{     
        background-color: black !important;
        border:2px solid black !important;
    }
    .projectSlider .owl-dot.active .hero-carusel .owl-dot.active,.stepsCarusel  .owl-dot.active{
background-color: transparent !important;
    }


.moreLink a{
    text-decoration: underline;
    color:#52D54E;
}
.ourServices{
    color:#55616A;
    padding-bottom:70px;
    width:100%;
    height: auto;
}
.serviceIcon{
    width:60px;
height: 60px;
margin: 0 auto;}
.servCont{margin-top:50px}
.serviceItem{
    text-align: center;
}
.serviceItem span{
    margin-top:20px;
    text-align: center;
} 
.servCont :hover{
    transform: scale(1.1);
cursor: pointer;
}
.footer{
    background-color: #FAFAFA;
    color:#393844;
    font-size:16px;
    width:100%;
    height: auto;
padding: 60px 10px}
.footerLogo{
    margin:auto;
    height:62px;
    width:132px;
    margin-bottom:35px;
}
.copyright{
    font-size:14px;
    color:#393844;
    font-weight: 400;
  }
.footer span{
display:block
}

.form-group{
	position:relative;
}
.form-group input{
	padding-right:20px;
}
.form-group input.error{
	border-color: red;
    margin-right: 32px;
    width: 239px;
}
.form-group label.error{

position: absolute;
    width: 139px;
    color: red;
    top: 8px;
    font-size: 12px;
    left: -130px;
}
.contactus{
    width:100%;
    line-height: 60px;

    height: 60px;
    text-align: center;
    display: none;
    position: fixed;
    bottom:0;
    left:0;
    z-index:999;
    display: none;
}
.contactForm{
    width:310px;
    height:400px;
    padding:30px 25px;
    background-color: #F6F6F6;
    border:1px solid #D9D9D9;
    position: absolute;
    z-index: 555;
    left:135px;
    top:520px;
    display: none;
}

.scrollImg{
    top:80px;
	position: fixed;
}


.scrollImg_bottom{
    top:auto;
    bottom: -60px

}

.caruselItem{
    height: 500px;
}

.contactLogo{
    width:39px;
    height:37px;
    margin:0 auto;
    margin-bottom: 10px;
}
.contactForm span{
    font-size: 14px;
    color:#55616A;
    display: block;
    margin-bottom: 5px;
}
.contactNow{
    color:#5B7EFF !important;
    font-size: 16px !important;
}
.contactForm form{
    margin-top:20px;
}
.formControl{
    width:250px;
    height: 40px;
border-radius: 5px;
border:0;
    border:1px solid #D9D9D9;
    margin-bottom: 10px;
}
.formControl::placeholder{
    padding:15px;
    font-size:14px;
    color:#B3B9BE;
}
.sendbtn{
    border:0;
    background-color:#5B7EFF;
    color:white !important;;
    width:150px;
    height: 40px;
    border-radius: 5px;
    line-height: 30px;
    font-size:14px;

}


.sendBtn:hover{
    background-color: #2C57F8;
}


.footer.mobileFooter{
    display:none;
}
.footer{
    display:block;
}

@media (min-width: 320px) and (max-width: 767px){
 

.heroSection{
    height:375px;
}
.hero-carusel{
    width:100%;
}
.hero-carusel .owl-dots{
    display: block !important;
}
.MoveImg,.secMoveImg {
    width:85%;
}
.mobileStepImg{
    margin-bottom:50px;
}


.NationalSide{
    display: none;
}
.showVideoIcon {
    right:35%;
}
.showVideoIcon i{
    right:30px;
}
.lowTitle{
    display: block
}
.lowCont{
    padding:10px;
    margin-bottom:20px;
}

.lowdesc{
    width:100%;
}
.passportImg{
    width:80px;
margin-top:-14%;}
.stepNum::before{display:none;}
.stepNum hr{
border: 1px solid dashed;
width:100%;
top:5%;
right:0;
}
.nav{
    display: block;
    width:100%;
    position: absolute;
    left:0;
    top:60px;
    background: white;
    height:50px;
    line-height: 25px;
    padding:0;
    z-index:444;
    background-color: #FAFAFA;
}

.contactForm{
    display: none;
}

.languge,.SocialIcons{
    display: none;
}
.paddingSection{
    padding-right: 5px;
}
.heroCont h1{
    font-size:22px;
}
.collapse.navbar-collapse{

display: block !important}
.nav-link.activeLink:before{
    display: none;
}
.nav-link:hover:before{
    display: none;
}
.nav-link{
    font-size: 13px;
}
.navCarusel {
    width:100%;
}

.nav-item{
        display: inline-block;
}

.mobilelogo{
    display: block;
    padding-top:16px;
}

.logo{
    float:right;
    width:90px;
    height: 60px;
}
.languge{
    display: none;
}

.mobilelanguge,.mobileSocialIcons{
    display: block;
}
.langugeHeader{
    width:100%;
    background-color: #979797;
    height: 40px;
}
.scrollNav{
    top:40px !important
}
.mobilelanguge{
    margin-top:11px;
}
.mobileSocialIcons{
    text-align: center;
    margin:0;
}
.mobileSocialIcons span{
    font-size: 14px;
    display: block;
    margin-bottom:25px;

}
.mobilelanguge a{
    font-size:16px;
    padding:10px 32px;
    padding-bottom:33px;
    width:50%;

}
.ararbic{
    border-left:1px solid #D9D9D9;
}
.navbar {
    height:60px;
    z-index:9999999;
}
.heroCont{
    top:30%;
    max-width: 227px;
    right:20%
}
.sectionTitle{
font-size: 22px;
text-align:right;
}
hr{
    display: block;
}
.faciltiisSection hr{
    width:185px;
}
.flatSpaceSection hr{
    width:247px;
}
.footer .float-left,.footer .float-right{
    float: none !important;
}
.footer{
    text-align: center;
    padding-bottom:35px;
}
.contactus{
    display: block;
    border:2px solid #52D54E;
}
.contactsec{  
    width:50%;
    background-color: white !important;
    height: 100%;
}
.contactsec a{
    font-size:16px;
    font-weight: 500;
    color: #52D54E !important;

}
.ask{
    width:50%;
    background-color:#52D54E;
    height: 100%;

}
.ask a{
    color: white;

    font-size:16px;
    font-weight: 500;
}
.contactsec a:hover{
text-decoration: none;}
.mobileContact{
    height: 100%;
    width: 100%;
    top: 28%;
    left: 0;
    position: fixed;
    padding: 10% 10%;
    background-color: white;
    border:1px solid #D9D9D9;
    z-index: 9999999;
    display: block;
    
    }
    .mobileContact form{
        margin-top:0
    }
.nationalBar{
position:fixed;
    display:block;
    width:100%;
    height: 40px;
    background-color: #F6F6F6;
    justify-content: center;
    border:1px solid #D9D9D9;
    padding:4px 0;
    z-index: 2;
    margin-top: 5px;
}
.nationalBar ul li{
    text-align: center;
    display: inline-block;
    padding: 3px 0px;
    border-left: 1px solid #D9D9D9;
    width: 33.33%;
    float: right;
}
.nationalBar .sideImg{
    display: inline-block;
    margin-left:8px;
}
.nationalBar ul{
    padding:0;
    margin:0;
}
.nationalBar ul li:last-child{
    border:0;
}
.sideItem span{
    font-size: 12px;
}
.sideImg{
    width:24px;
    height: 20px;
}
.sideVideo,.sideTabo{
    width:100%;
    top:-1000px;
    right:0 !important;
    height: 90vh;
    padding-top:50px;
    padding-bottom:50px;
}
.sideVideo video,.sideTabo video{
    width:80%;
}
.heroSection video{
	width:auto;
	height:100%;
}
.footerLogo{
    margin:auto;
    height:36px;
    width:79px;
    margin-bottom:35px;
}
.footer.mobileFooter{
    display:block;
padding-bottom:100px;
}
.fotorama__dot{
    width:10px !important;
    height:10px !important;
    background-color:#D9D9D9;
}
.showImage{
    display:block;
}
.greenDiv{
    margin:0 auto;
    margin-bottom:20px;
}
.footer.mobileFooter{
    display:block;
}
.footer{
    display:none;
}
.mobileFooter .copyright{
    margin-top:60px;
}
.mainSlider.owl-carousel{
    display:block;
}
.fotorama{
    display: none;
}


.form-group label.error {
    top: 47px;
    left: 5px;
}
}
@media (min-width: 768px) and (max-width: 1024px){
    .nav{
        display: block;
        width:100%;
        left:0;
        top:60px;
        background: white;
        padding:0;
    }
    .nav-item{
     font-size:14px;
     display: inline-block;
    }
    
    .mobilelogo{
        display: block;
        padding-top:16px;
    }
    .navBtn{
        display:block;
        float:left;
        position: absolute;
        left:20px;
    }
    .logo{
        float:right;
        width:128px;
        height: 40px;
    }
    .navbar {
        height:60px;
    }

    .form-group label.error{
            font-size: 12px;
            left: 0;
        }

        .form-group input.error
        {
            width: 200px;
        }
        .languge,.SocialIcons{
            display: none;
        }
        .mobilelanguge,.mobileSocialIcons{
            display: block;
        }
        .mobileSocialIcons{
            padding-top:30px;
            margin-bottom:77px;
            text-align: center;
        }
        .mobileSocialIcons span{
            font-size: 14px;
            display: block;
            margin-bottom:25px;
        }
        .mobilelanguge a{
            font-size:16px;
            padding:0 32px;
            padding-bottom:33px;
        }
        .ararbic{
            border-left:1px solid #D9D9D9;
        }
        .mobilelogo{
            display: block;
            padding-top:16px;
        }
        .contactus{
            display: block;
        }
        .contactLink{
            font-size:16px;
            font-weight: 500;
            color: white;
        }
        .contactLink a{
            color:white;
        }
        .contactLink a:hover{
        text-decoration: none;}
        .mobileContact{
            height: 495px;
            width: 377px;
            top: -500px;
            left: 17px;
                padding:10px 20px;
                background-color: #F6F6F6;
                border:1px solid #D9D9D9;
            }
            .mobileContact form{
                margin-top:0
            }
            .contactForm{
                display: none;
            }
            .mobileContact {
                height: 100vh;
                width: 402px;
                top: -500px;
                left: 110px;}
                .projSection{
                    justify-content: center;
                }
                nav.nav-pills{
                    height:100vh;
                }
            
}
 
